# # Titanic ML exercise

#Importing Training Data

In [182]:
import pandas as pd

In [185]:
titanic_data= pd.read_csv('train.csv')
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [186]:
titanic_data = titanic_data.drop(['Name', 'Ticket', 'Cabin'], axis=1)
titanic_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [198]:
import numpy as np
titanic_data['Sex']= np.where(titanic_data['Sex']=='female',1, 0)
titanic_data['Age'].fillna(titanic_data['Age'].mean(), inplace=True)
titanic_data=pd.get_dummies(titanic_data)

X=titanic_data.drop(['Survived'], axis=1)
y=titanic_data['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [340]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2)

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
716,717,1,0,38.000000,0,0,227.5250,1,0,0
744,745,3,0,31.000000,0,0,7.9250,0,0,1
539,540,1,0,22.000000,0,2,49.5000,1,0,0
99,100,2,0,34.000000,1,0,26.0000,0,0,1
302,303,3,0,19.000000,0,0,0.0000,0,0,1
...,...,...,...,...,...,...,...,...,...,...
166,167,1,0,29.699118,0,1,55.0000,0,0,1
733,734,2,0,23.000000,0,0,13.0000,0,0,1
592,593,3,0,47.000000,0,0,7.2500,0,0,1
809,810,1,0,33.000000,1,0,53.1000,0,0,1
523,524,1,0,44.000000,0,1,57.9792,1,0,0

## LOGISTIC REGRESSION

In [347]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
logreg = LogisticRegression(max_iter=1000)

In [348]:
logreg.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [323]:
y_pred_log= logreg.predict(X_test)

In [324]:
accuracy_score(y_test, y_pred_log)

0.7597765363128491

## DECISION TREE

In [325]:
from sklearn.tree import DecisionTreeClassifier

In [326]:
dt = DecisionTreeClassifier(max_depth=4, random_state=1, min_samples_leaf=0.1)

In [327]:
dt.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=4, min_samples_leaf=0.1, random_state=1)

In [328]:
dt_y_pred= dt.predict(X_test)
dt_y_pred

array([0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0], dtype=int64)

In [329]:
accuracy_score(y_test, dt_y_pred)

0.7039106145251397

## DECISION TREE_GINI

In [330]:
dt_gini = DecisionTreeClassifier(criterion='gini', random_state=1)
dt_gini.fit(X_train, y_train)
dt_gini_y_pred=dt_gini.predict(X_test)
accuracy_score(y_test, dt_gini_y_pred)
#dt_gini_y_pred

0.659217877094972

## DECISION TREE_Entropy

In [332]:
dt_ent = DecisionTreeClassifier(criterion='entropy', random_state=1)
dt_ent.fit(X_train, y_train)
dt_ent_y_pred=dt_ent.predict(X_test)
accuracy_score(y_test, dt_ent_y_pred)
#dt_ent_y_pred

0.7039106145251397

## REGRESSION TREE

In [315]:
from sklearn.tree import DecisionTreeRegressor

In [318]:
dt_reg = DecisionTreeRegressor(max_depth=2, random_state=3) #min_samples_leaf=0.1 )
dt_reg.fit(X_train, y_train)
dt_reg_y_pred= dt_reg.predict(X_test)
#accuracy_score(y_test, dt_reg_y_pred)
dt_reg_y_pred

array([0.19272727, 0.375     , 0.19272727, 0.63967611, 0.375     ,
       0.32051282, 0.19272727, 0.63967611, 0.63967611, 0.19272727,
       0.63967611, 0.375     , 0.19272727, 0.63967611, 0.19272727,
       0.19272727, 0.19272727, 0.63967611, 0.63967611, 0.63967611,
       0.63967611, 0.375     , 0.19272727, 0.19272727, 0.19272727,
       0.63967611, 0.375     , 0.63967611, 0.63967611, 0.19272727,
       0.63967611, 0.19272727, 0.375     , 0.375     , 0.19272727,
       0.63967611, 0.63967611, 0.32051282, 0.19272727, 0.63967611,
       0.63967611, 0.63967611, 0.19272727, 0.19272727, 0.375     ,
       0.63967611, 0.63967611, 0.375     , 0.63967611, 0.19272727,
       0.19272727, 0.19272727, 0.63967611, 0.19272727, 0.19272727,
       0.63967611, 0.63967611, 0.63967611, 0.19272727, 0.19272727,
       0.32051282, 0.375     , 0.19272727, 0.63967611, 0.19272727,
       0.63967611, 0.19272727, 0.63967611, 0.32051282, 0.19272727,
       0.32051282, 0.19272727, 0.32051282, 0.63967611, 0.19272727,
       0.63967611, 0.19272727, 0.19272727, 0.63967611, 0.63967611,
       0.375     , 0.19272727, 0.19272727, 0.19272727, 0.19272727,
       0.63967611, 0.19272727, 0.375     , 0.375     , 0.19272727,
       0.19272727, 0.375     , 0.32051282, 0.375     , 0.19272727,
       0.63967611, 0.19272727, 0.63967611, 0.19272727, 0.19272727,
       0.63967611, 0.63967611, 0.63967611, 0.375     , 0.19272727,
       0.63967611, 0.19272727, 0.32051282, 0.19272727, 0.63967611,
       0.63967611, 0.19272727, 0.63967611, 0.375     , 0.63967611,
       0.19272727, 0.32051282, 0.19272727, 0.32051282, 0.375     ,
       0.19272727, 0.375     , 0.32051282, 0.375     , 0.19272727,
       0.19272727, 0.19272727, 0.63967611, 0.63967611, 0.19272727,
       0.32051282, 0.19272727, 0.375     , 0.19272727, 0.375     ,
       0.19272727, 0.375     , 0.32051282, 0.19272727, 0.63967611,
       0.375     , 0.63967611, 0.19272727, 0.63967611, 0.63967611,
       0.63967611, 0.19272727, 0.63967611, 0.63967611, 0.19272727,
       0.19272727, 0.19272727, 0.63967611, 0.63967611, 0.63967611,
       0.19272727, 0.63967611, 0.19272727, 0.32051282, 0.19272727,
       0.32051282, 0.19272727, 0.63967611, 0.19272727, 0.32051282,
       0.19272727, 0.63967611, 0.375     , 0.19272727, 0.19272727,
       0.19272727, 0.19272727, 0.63967611, 0.19272727, 0.375     ,
       0.19272727, 0.19272727, 0.19272727, 0.19272727])

## Preperation of results

In [136]:
# importing submission format
sub_form= pd.read_csv('gender_submission.csv')
sub_form.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [357]:
test_data=pd.read_csv('test.csv')
test_data=test_data.drop(['Name', 'Ticket', 'Cabin'], axis=1)
test_data['Sex']= np.where(test_data['Sex']=='female',1, 0)
test_data['Age'].fillna(test_data['Age'].mean(), inplace=True)
test_data['Fare'].fillna(test_data['Fare'].mean(), inplace=True)
test_data=pd.get_dummies(test_data)

In [358]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    int32
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Embarked_C   418 non-null    uint8
 8   Embarked_Q   418 non-null    uint8
 9   Embarked_S   418 non-null    uint8
dtypes: float64(2), int32(1), int64(4), uint8(3)
memory usage: 22.6 KB

In [359]:
y_result= logreg.predict(test_data)

In [361]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': y_result})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [362]:
output

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]